/**
* @file
* Contains style to handle viewer related requirements and to to position annotation buttons for open sea dragon viewer (large image)
*/

#load-annotation-button {
    position:absolute;
    top: 0px;
    left:140px;
}


#add-annotation-button {
    position:absolute;
    top: 0px;
    left:185px;
}

.islandora-openseadragon
{
    position: relative;
    height:500px;
    width: 100%;
}

#openseadragon-islandora {
    position:absolute;
    width: 100%;
    height:500px;
}

.islandora-openseadragon canvas
{
    background-color : transparent !important; /* should be replaced with OpenSeadragon setting */
}
