/**
* @file
* Contains style to handle viewer related requirements and to to position annotation buttons for open sea dragon viewer (large image)
*/

#load-annotation-button {
    position:absolute;
    top: 0px;
    left:165px;
}


#add-annotation-button {
    position:absolute;
    top: 0px;
    left:210px;
}

.islandora-openseadragon
{
    position: relative;
    height:500px;
    width: 100%;
}

#openseadragon-islandora {
    position:absolute;
    width: 100%;
    height:500px;
}

.islandora-openseadragon canvas
{
    background-color : transparent !important; /* should be replaced with OpenSeadragon setting */
}

/*  Adjustments to the annotatation editor box area */
div.annotorious-editor {
    padding-top: 0.5em;
}
#mceu_7 {
    width: 99% !important;
}