@font-face {
    font-family: 'h';
    src: url('../../lib/css/hypothesis/fonts/h.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

[class^="h-icon-"], [class*=" h-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'h' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.h-icon-annotate:before {
    content: "\e903";
}

.h-icon-add:before {
    content: "\e608";
}

.annotator-adder-actions__button {
    -moz-box-align: center;
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
    align-items: center;
    background: #CCCCCC  none repeat scroll 0 0 !important;
    border: medium none;
    box-shadow: none;
    color: #585858 !important;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-family: h;
    font-size: 18px;
    padding: 10px 10px 6px;
    transition: color 80ms ease 0s;
}


#load-annotation-button {
    position:absolute;
    top: 0px;
    left:140px;
}


#add-annotation-button {
    position:absolute;
    top: 0px;
    left:185px;
}

.islandora-openseadragon
{
    position: relative;
    height:500px;
    width: 100%;
}

#openseadragon-islandora {
    position:absolute;
    width: 100%;
    height:500px;
}

.islandora-openseadragon canvas
{
    background-color : transparent !important; /* should be replaced with OpenSeadragon setting */
}
