/**
* @file
* Contains style to position annotation buttons for basic image
*/

#load-annotation-button {
    position: absolute;
    top: 135px;
    left: 32px;
}

#add-annotation-button {
    position:absolute;
    top: 135px;
    left:82px;
}

/*  Adjustments to the annotation editor box area */
div.annotorious-editor {
    padding-top: 0.5em;
}
#mceu_7 {
    width: 99% !important;
}