/**
* @file
* Contains style related to custom buttons, labels
**/


/*
* Style related to annotations buttons
* Drived from  https://github.com/hypothesis/h/blob/master/h/static/styles/vendor/icomoon.css
* Uses https://github.com/hypothesis/h/blob/master/h/static/styles/vendor/fonts/h.woff
*/

@font-face {
    font-family: 'h';
    src: url('../../lib/css/hypothesis/fonts/h.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

[class^="h-icon-"], [class*=" h-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'h' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.h-icon-annotate:before {
    content: "\e903";
}

.h-icon-add:before {
    content: "\e608";
}

.annotator-adder-actions__button {
    -moz-box-align: center;
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
    align-items: center;
    background: #CCCCCC  none repeat scroll 0 0 !important;
    border: medium none;
    box-shadow: none;
    color: #585858 !important;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-family: h;
    font-size: 18px;
    padding: 10px 10px 6px;
    transition: color 80ms ease 0s;
}



/*Label related */

span.marker {
    width: 20px;
    height: 20px;
    background: #0074BD;
    color: #fff;
    text-align: center;
    position: absolute;
    vertical-align: middle;
    line-height: 20px;
    cursor: pointer;
}

span.marker-large-mage {
    background: #0074BD;
    color: #fff;
    text-align: center;
    position: absolute;
    vertical-align: middle;
    line-height: 20px;
    cursor: pointer;
    width: 20px;
    height: 20px;
}


/* Issue-54 */

.annotorious-editor, .annotorious-popup {
    max-height: 300px;
    overflow-y: auto;
}

/* Hide the list style of the html block */
#annotation-list > li {
    list-style-type: none;
}
